<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand text-white">IPC- Organization Management</a>
  <button class="btn btn-warning my-2 offset-7" (click)="onStudent()">Add Students</button>
  <button class="btn btn-warning my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>



<!-- <div class="card m-5" style="width:18rem" *ngIf="userDetails">
  <ul class="list-group">
    <li class="list-group-item"><strong>Username : </strong>{{userDetails.userName}}</li>
    <li class="list-group-item"><strong>FullName : </strong>{{userDetails.fullName}}</li>
  </ul>
</div> -->

  <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4 text-center">IPC Organization Management</h1>
      <p class="lead text-center">The Organizational Management System for the Student of IPC</p>
  </div>

  <hr>
  <div class="container-fluid">
      <div class="row">
        <router-outlet></router-outlet>
        <div class="col-md-5">
            <app-organization></app-organization>
        </div>
        <div class="col-md-7">
            <app-organization-list></app-organization-list>
        </div>
    </div>
  </div>